*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container-principale{
    width: 100%;
    height: calc(100vh - 70px);
}
.sidebar{
    float: left;
    width: 200px;
    height: 100%;
    background-color: black;
    padding-left: 15px;
}
.sidebar .image-text{
    display: flex;
    align-items: center;
    color: white;
}
.sidebar .image{
    width: 40px;
    margin: 15px 5px 15px 0;
}
.sidebar .text{
    font-size: 22px;
}
.sidebar .nav1{
    color: gray;
}
.sidebar .nav1 li{
    list-style: none;
    margin-bottom: 12px;
}
.sidebar .nav1 li a, .sidebar .nav2 li a{
    color: gray;
    text-decoration: none;
}
.sidebar .nav1 .fas{
    font-size: 24px;
    vertical-align: middle;
}
.sidebar .nav1 span{
    font-size: 11px;
}
.sidebar .nav2{
    margin-top: 20px;
    overflow: auto;
}
.sidebar .nav2 li{
    font-size: 15px;
}
.nav2 li a:hover, .nav1 li a:hover{
    color: white;
}
.nav2 .titolino{
    color: white;
}
.sidebar .nav2 i{
    font-size: 37px;
    margin: 10px 4px 10px 0px;
}
.nav2 .fa-plus-square{
    vertical-align: middle;
}
.nav2 .playlist{
    margin-top: 10px;
}
.nav2 .playlist span{
    font-size: 13px;
}

.nav2 .install i{
    font-size: 12px;
}
.install{
    border-bottom: 1px solid gray;
    margin-right: 20px;
    margin-top: 25px;
    color: gray;
    font-size: 13px;
}

.profile{
    color:white;
    font-size: 13px;
}
.profile span{
    margin-left: 6px;
    vertical-align: middle;
}
.fa-user-circle{
    vertical-align: middle;
}
.nav2 .profile i{
    color: gray;
    font-size: 25px;
}

.container{
    float: left;
    width: calc(100% - 200px);
    overflow: auto;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 200px);
    height: 70px;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}
header a{
    font-size: 10px;
    color: white;
    text-decoration: none;
    padding: 7px 20px;
    margin-right: 8px;
    border-radius: 20px;
    border: 1px solid white;
}
header a:hover{
    transform: scale(1.1);
    transition: 1s;
}
.container main{
    width: 100%;
    height: 100%;
    background-color: #141922;
    padding: 70px 10px 150px 20px;
}

main .lista-main{
    text-align: center;
}
main ul li{
    display: inline-block;
    font-size: 14px;
    margin-top: 15px;
    margin-right: 10px;
}
main ul li a:hover{
    color: white;
}
main ul li a{
    color: gray;
    text-decoration: none;
}
main h1{
    color: white;
    font-size: 26px;
    margin-top: 30px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.contenitore-flex{
    display: flex;
    flex-wrap: nowrap;
}
.image-box{
    width: 15%;
    margin-right: 15px;
    margin-left: 3px;
    margin-top: 30px;
}

.image-box .image-top{
    width: 100%;
    position: relative;
    cursor: pointer;
}
.image-top:hover .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 16, 16, .6);
}
.overlay .symble-play{
    position: absolute;
    display: none;
}
.image-top:hover .symble-play{
    display: block;
    color: white;
    font-size: 50px;
}
.image-box .image-bottom{
    text-align: center;
}
img{
    width: 100%;
}
.image-box .image-bottom h2{
    color: white;
    font-size: 15px;
    padding: 14px 0 8px 0;
}
.image-box .image-bottom .sottotitolo{
    color: gray;
    font-size: 13px;
    margin-bottom: 10px;
}
.suggerimenti{
    color: gray;
    font-size: 13px;
    padding-top: 8px;
}

.background1{
    background-image: url("../img/youg.jpeg");
}
.background1, .background2{
    height: 190%;
    border-radius: 50%;
    background-position: center;
    background-size: 130px;
}

.background2{
    background-image: url("../img/einaudi.jpeg");
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #282828;
    
    
}
.footer-left{
    display: flex;
    align-items: center;
    width: 187px;
    height: 60px;
}
.copertina{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-image: url("../img/sinister.jpeg");
    background-size: 30px;
    background-position: center;
}
.footer-left .text{
    margin-left: 10px;
}
.footer-left .text .titolo{
    font-size: 12px;
    color: white;
}
.footer-left .text .info{
    font-size: 10px;
    color: gray;
}
.footer-left .text .info:hover{
    color: white;
    text-decoration: underline;
}
a{
    text-decoration: none;
}

.fa-heart{
    margin-left: 20px;
}
.fa-folder{
    margin-left: 10px;
}
.fa-heart, .fa-folder{
    color: gray;
}
.fa-heart:hover, .fa-folder:hover{
    color: white;
}

.footer-center .symbol-white{
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-play-circle{
    font-size: 23px;
    margin: 0 4%;
}

.zoom-circle:hover{
    transform: scale(1.2);
}
.fa-step-backward{
    margin-left: 3%;
}
.fa-step-forward{
    margin-right: 3%;
}
.footer-right{
    width: 230px;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.footer-center{
    width: 35%;
    justify-content: center;
}
.footer-center-bottom{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}
.inizio-music, .fine-music{
    color: white;
    font-size: 7px;
}
.barra1{
    width: 400px;
    height: 3px;
    background-color: #5A5A5A;
    border-radius: 10px;
}
.barra-mini1{
    position: relative;
    width: 20%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}
.barra-mini1:hover, .barra-mini:hover{
    background-color: rgb(48, 228, 48);
}
.footer-center-bottom .fa-circle{
    position: absolute;
    top: -4px;
    right: -3px;
    color: white;
    font-size: 12px;
    display: none;
}
.barra-mini1:hover .fa-circle{
    display: block;
}
.footer-right .fa-circle{
    position: absolute;
    top: -4px;
    right: 0;
    color: white;
    font-size: 12px;
    display: none;
}
.barra-mini:hover .fa-circle{
    display: block;
}

.barra{
    width: 110px;
    height: 3px;
    background-color: #5A5A5A;
    border-radius: 10px;
    margin-right: 6px;
}
.barra-mini{
    position: relative;
    height: 100%;
    width: 30px;
    background-color: white;
    border-radius: 10px;
}
/*  media query  */
@media screen and (min-width: 768px) {
    
    .image-box{
        width: 13%;
        flex-shrink: 0;
    }
    .contenitore-flex{
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width: 767px){
    .image-box{
        width: 19%;
        flex-shrink: 0;
    }
    .contenitore-flex{
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width: 575px){
    .image-box{
        width: 42%;
        flex-shrink: 0;
    }
    .contenitore-flex{
        flex-wrap: wrap;
    }
    header{
        width: calc(100% - 65px);
    }
    
}
@media screen and (max-width: 532px){
    .image-box{
        width: 42%;
        flex-shrink: 0;
    }
    .sidebar{
        width: 65px;
    }
    .sidebar .text{
        display: none;
    }
    .sidebar .nav1 li span{
        display: none;
    }
    .sidebar .nav2 li{
        display: none;
    }
    .install{
        border: none;
    }
    .install span, .profile span{
        display: none;
    }
    .container{
        width: calc(100% - 65px);
    }
    .contenitore-flex{
        flex-wrap: wrap;
    }
    header{
        width: calc(100% - 65px);
    }
}